[submodule "src/vendor/spdlog"]
	path = src/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/vendor/yaml-cpp"]
	path = src/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "src/vendor/stb"]
	path = src/vendor/stb
	url = https://github.com/nothings/stb
[submodule "src/vendor/tinyxml2"]
	path = src/vendor/tinyxml2
	url = https://github.com/leethomason/tinyxml2
