# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*._app

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Vanadium specific
cmake-build-*
.idea
build
.vscode
imgui.ini
out.txt
Log.log
external/SDL
src/vanadium/core/Version.h
example/**/shaders/compiled
logs.txt
