# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

cmake-build-debug
.idea
example/Log.log
example/logs.log
example/gamedata.zip
build
.vscode
example/resources/textures/tex.png


# MacOS
.DS_Store
.AppleDouble
.LSOverride